name: build-arm64

on:
  schedule:
    - cron: "0 3 * * 1" # every Monday at 03:00 UTC
  workflow_dispatch: {}

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push arm64 image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: backend/Dockerfile.arm64
          platforms: linux/arm64
          push: true
          tags: jvkp/email-verifier-backend:arm64
